body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E
}

p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px;
  text-decoration: none;
}

a:hover{
  color:#E8F9FD;
}

.top-container {
  background-color: #E8F9FD;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin:100px 0;
}

.bottom-container{
  position: relative;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row{
  margin:100px auto 100px auto;
  width:50%;
  text-align: left;
}

.intro-text{
  width: 420px;
  margin:auto;
}

.code-image{
  width:25%;
  float:left;
  margin-right: 30px;
}

.bird-pic{
  width:10%;
  position: absolute;
}

.linkdin-icon{
  width:20px;
  float:left;
}

.facebook-icon{
  width:20px;
  float:left;
}

.instagram-icon{
  width:20px;
  float:left;
}
.twitter-icon{
  width:20px;
  float:left;
}

.biryani-image{
  width:25%;
  float:right;
  margin-left: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-message{
  width:380px;
  margin: 40px auto 60px;
}

.copyright-message{
  color:#E8F9FD;
  margin:20px 0;
  padding: 20px 0 10px 0;
}

.footer-link{
  color:#11999E;
}
.footer-link-linkdin{
  color:#11999E;
  margin:0 10px;
}

.linkdin{
  position:absolute;
  margin:0 20px 100px 20px ;
  left:550px;
}

.footer-link-facebook{
  color:#11999E;
  margin:0 10px;
}

.facebook{
  position:absolute;
  margin:0 20px 100px 40px ;
  left:650px;
}

.footer-link-instagram{
  color:#11999E;
  margin:0 10px;
}

.instagram{
  position:absolute;
  margin:0 20px 100px 10px ;
  left:800px;
}


.footer-link-twitter{
  color:#11999E;
  margin:0 10px;
}

.twitter{
  position:absolute;
  margin:0 20px 100px 10px ;
  left:900px;
}

/*****************************example of relative positioning*************************
img{
  position:relative;
  left:500px;
}
*/
